.big_button{
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  font-size: larger;
  font-weight: 700;
  cursor: pointer;
  color: white;
  padding: 10px;
  border-bottom: 1px solid white;
}

.small_button {
  width: 80%;
  border: none;
  background: none;
  float: right;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  color: white;
  padding: 10px;
  border-bottom: 1px solid white;
}

button:hover {
  background: blue;
  transition: linear 300ms;
}

button:active {
  background: red;
}