.topicBlock {
    width: 180px;
    height: 180px;
    border-style: solid;
    background: blanchedalmond;
}

.Item-top-button {
    background: none;
    border: none;
    font-size: 26px;
    color: dimgrey;
    text-align: center;
}

.buttonSize{
    width: 35px;
    height: 35px;
}