.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.Data-header {
  text-align: center;
  color: black;
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 15px;
}

.Data-container {
  padding: 15px;
  background: white;
  margin: 15px;
}

.Item-top-button {
  background: none;
  border: none;
  font-size: 26px;
  color: dimgrey;
  text-align: center;
}

.Validation-message {
  text-align: center;
  color: red;
  margin: 4px;
  font-weight: bold;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
